<!DOCTYPE html>
<!--<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">-->
<!--加上这个命名空间后就能在页面中使用Thymeleaf自己的标签了，以th:开头。-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>首页</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css">
    <script src="../static/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="../static/js/jquery-3.0.0.min.js" type="application/javascript"></script>

</head>
<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
<div id="wrapper">
<!--    <h1 th:text="${msg}"></h1>-->
</div>
</body>
</html>
